<!-- templates/medications.html -->
{% extends "base.html" %}

{% block title %}Select a Medication{% endblock %}

{% block content %}
<h1>Select a Medication</h1>
<div class="grid-container">
    <a href="{{ url_for('acyclovir_route') }}" class="medication-button">Acyclovir</a>
    <a href="#" class="medication-button">Albumin</a>
    <a href="{{ url_for('amikin_route') }}" class="medication-button">Amikin</a>
    <a href="{{ url_for('aminophylline_route') }}" class="medication-button red-button">Aminophylline</a>
    <a href="{{ url_for('amoxicillin_clavimoxy_route') }}" class="medication-button">Amoxicillin/<br>Clavimoxy</a>
    <a href="{{ url_for('amphotericinB_route') }}" class="medication-button">Amphotericin B</a>
    <a href="{{ url_for('ampicillin_route') }}" class="medication-button">Ampicillin</a>
    <a href="{{ url_for('cefotaxime_route') }}" class="medication-button">Cefotaxime</a>
    <a href="#" class="medication-button">CeFAZolin</a>
    <a href="{{ url_for('ceftazidime_route') }}" class="medication-button">CefTAZidime</a>
    <a href="{{ url_for('clindamycin_route') }}" class="medication-button">Clindamycin</a>
    <a href="#" class="medication-button">Chloral hydrate</a>
    <a href="{{ url_for('cloxacillin_route') }}" class="medication-button">Cloxacillin</a>
    <a href="{{ url_for('colistin_route') }}" class="medication-button">Colistin</a>
    <a href="{{ url_for('dexamethasone_route') }}" class="medication-button">Dexamethasone</a>
    <a href="#" class="medication-button">Digoxin</a>
    <a href="{{ url_for('dobutamine_route') }}" class="medication-button red-button">DOBUTamine</a>
    <a href="{{ url_for('dopamine_route') }}" class="medication-button red-button">DOPamine</a>
    <a href="{{ url_for('fentanyl_route') }}" class="medication-button red-button">Fentanyl</a>
    <a href="{{ url_for('gentamicin_route') }}" class="medication-button">Gentamicin</a>
    <a href="{{ url_for('hydrocortisone_route') }}" class="medication-button">Hydrocortisone</a>
    <a href="#" class="medication-button">Ibuprofen</a>
    <a href="#" class="medication-button">Indomethacin</a>
    <a href="{{ url_for('insulin_route') }}" class="medication-button">Insulin Human Regular</a>
    <a href="{{ url_for('meropenam_route') }}" class="medication-button">Meropenam</a>
    <a href="{{ url_for('midazolam_route') }}" class="medication-button red-button">Midazolam</a>
    <a href="{{ url_for('midazolam_fentanyl_route') }}" class="medication-button">Midazolam + Fentanyl</a>
    <a href="#" class="medication-button">Metronidazole<br>(Flagyl)</a>
    <a href="{{ url_for('morphine_route') }}" class="medication-button">Morphine</a>
    <a href="{{ url_for('nimbex_route') }}" class="medication-button">Nimbex<br>(Clsatracurlum)</a>
    <a href="#" class="medication-button">Norepinephrine</a>
    <a href="#" class="medication-button">Omeprazole</a>
    <a href="#" class="medication-button">Penicillin G</a>
    <a href="{{ url_for('phenobarbital_route') }}" class="medication-button">Phenobarbital</a>
    <a href="{{ url_for('phenytoin_route') }}" class="medication-button">Phenytoin<br>(Dilantin)</a>
    <a href="{{ url_for('remdsivir_route') }}" class="medication-button">Remdsivir</a>
    <a href="{{ url_for('sulbactam_route') }}" class="medication-button">SulBacTam</a>
    <a href="{{ url_for('sulperazone_route') }}" class="medication-button">Sulperazone</a>
    <a href="{{ url_for('tazocin_route') }}" class="medication-button">Tazocin</a>
    <a href="{{ url_for('unasyun_route') }}" class="medication-button">Unasyun</a>
    <a href="{{ url_for('vancomycin_route') }}" class="medication-button">Vancomycin</a>
</div>

<a href="{{ url_for('index') }}" class="back-button">Back to Home</a>
{% endblock %}
